body {
    font-family: 'eurofurence',Helvetica,Arial,sans-serif;
    color: #f3f3f3;
    font-size: 14px;        
    background: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    box-sizing: border-box;
    height: 100%;
}
.map_image {
    position: absolute;
    height: 70%;
    width: 45%;
    right: 26%;
    top: 15%;
    background: rgb(80, 80, 80);
}
.map_chart {
    position: absolute;
    height: 10%;
    width: 45%;
    right: 26%;
    bottom: 2%;
    background: rgb(80, 80, 80);
}
.map_buttons {
    position: absolute;
    height: 10%;
    width: 45%;
    right: 26%;
    top: 2%;
    background: rgb(80, 80, 80);
}
.change_data {
    position: absolute;
    height: 46%;
    width: 20%;
    left: 2%;
    top: 2%;
    background: rgb(80, 80, 80);
}
.filter_data {
    position: absolute;
    height: 46%;
    width: 20%;
    left: 2%;
    bottom: 2%;
    background: rgb(80, 80, 80);
}