html,body {
    font-family: 'eurofurence',Helvetica,Arial,sans-serif;
    color: #f3f3f3;
    font-size: 14px;        
    background: rgb(26, 26, 26);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    z-index: -1;
    zoom: 0.82; /* Other non-webkit browsers */
    zoom: 82%; /* Webkit browsers */
    height: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 100%;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #1A1A1A;
    height: 100%;
}

canvas {
    display:block;
    margin:0 auto;
}

#question {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    font-size: 60px; 
    margin-bottom: 2%; 
    margin-right: 2%;
}

.center-block {
    display: inline-block;
    position: cover;
    /* margin-top: 2%; */
    height: 1024px;
    width: 1024px;
    background: rgb(80, 80, 80);
 }

 .modal-content{
    background: rgb(26, 26, 26);
 }

/* Style buttons as link */
.btn-link:focus,
.btn-link:active:focus{
    outline:none;
}

.btn-link:focus{
    text-decoration:none;
}
.btn-link:hover{
    text-decoration:underline;
}

 .btn {
    padding: 10px 24px;
    border: 0 none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #5f5f5f;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.style15 {
    padding-top: 1%;
}
 
.btn-primary {
    background: #5f5f5f;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #5f5f5f;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary  {
    margin-bottom: 20px;
    margin-right: 20px;
}

.title {
    padding-top: 2%; 
    padding-bottom: 2%; 
}

h2{
    font-size: 4em;    
}

.fluid {
    height: 100%;
}

.border-left {
    border-left: 1px dotted #505050;
    /* border-left: 4px double #8c8b8b; */
    min-height: 70%;
}



hr.style15 {
	border-left: 1px dotted #505050;
    /* border-left: 4px double #8c8b8b; */
	text-align: center;
}
hr.style15:after {
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

#map_chart {
    position: absolute;
}
.fill { 
    min-height: 100%;
    height: 100%;
}

.center-block {
    text-align: left;
    padding: 0%
}


.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: rgb(146, 146, 146);
  
}
.card {
    margin-top: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
}
.card span.card-title {
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
}
  
.card .card-image {
    position: relative;
    overflow: hidden;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 48px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}
.card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}
