body {
    font-family: 'eurofurence',Helvetica,Arial,sans-serif;
    color: #f3f3f3;
    font-size: 14px;        
    background: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    height: 100%;
}